<input
  class="searchbar-input"
  type="text"
  placeholder="Buscar"
  autocomplete
  [(ngModel)]="searchText"
  (keyup)="search()"
>

<button
  *ngIf="searchText?.trim()?.length; else focusBtn"
  (click)="clear()"
  class="searchbar-icon"
  mat-icon-button
  matTooltip="Buscar"
>
  <mat-icon fontSet="material-icons-outlined">close</mat-icon>
</button>

<ng-template #focusBtn>
  <button
    (click)="focus()"
    class="searchbar-icon"
    mat-icon-button
    matTooltip="Buscar"
  >
    <mat-icon fontSet="material-icons-outlined">search</mat-icon>
  </button>
</ng-template>
