<div class="container product-detail--container">
  <div class="row align-items-center" *ngIf="product">
    <!-- SLIDER -->
    <div class="col-12 col-lg-8 my-4">

      <div class="swiper-container swiper--container" swiper>
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper--slide" *ngFor="let image of product.images">
            <div class="swipper--img-container">
              <img [src]="image" class="swiper--img">
            </div>
          </div>
        </div>

        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>

    <!-- DETALLES -->
    <div class="col-12 col-lg-4">
      <div class="detail--container">
        <h2 class="title">{{ product.description }}</h2>

        <div class="price">
          <product-price
            class="discount"
            *ngIf="product.discount > 0"
            [value]="priceDiscount"
            [lined]="true"
          ></product-price>

          <div class="final">
            <product-price [value]="product.price"></product-price>
            <span *ngIf="product.discount > 0">{{ product.discount }}% Descuento</span>
          </div>
        </div>

        <ul class="attributes">
          <li><b>Color: </b> {{ product.color }}</li>
          <li><b>Tipo: </b> {{ product.type }}</li>
          <li><b>Genero: </b> {{ product.gender }}</li>
          <li><b>Codigo: </b> {{ product.cod }}</li>
        </ul>

        <div class="actions">
          <p class="stock" *ngIf="product.stock; else noAvailables">{{ product.stock }} Disponibles</p>
          <ng-template #noAvailables>
            <p class="stock">Sin stock</p>
          </ng-template>

          <button
            mat-flat-button
            large
            color="primary"
            [disabled]="!canAdd"
            (click)="addToCart()"
          >Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>
