@import "variables";

:host {
  display: block;
  padding: 64px 0;
  .product-detail--container {
    padding: 48px 32px;
    box-shadow: 0 1px 2px 0 rgba($darkest, .3);
    border-radius: 8px;
    background-color: $white;

    .swiper--container {
      .swiper--slide {
        display: flex;
        align-items: center;
        .swipper--img-container {
          width: 100%;
          display: block;
          padding: 0 16px;
          .swiper--img {
            display: block;
            width: 100%;
          }
        }
      }
    }

    .detail--container {
      border: 1px solid $gray-lightest;
      padding: 48px 32px;
      border-radius: 4px;
      .title {
        color: $dark;
        margin: 0;
        font-size: 24px;
        line-height: 1.35;
        font-weight: $font-normal;
        margin-bottom: 32px;
      }

      .price {
        margin-bottom: 32px;
        .discount {
          color: $gray-light;
          font-size: 16px;
          line-height: 1;
          margin-bottom: 8px;
        }
        .final {
          gap: 12px;
          color: $gray-dark;
          display: flex;
          font-size: 32px;
          flex-wrap: wrap;
          line-height: 1;
          align-items: center;
          span {
            color: $dark;
            padding: 8px 16px;
            font-size: 14px;
            border-radius: 1em;
            background-color: $accent;
          }
        }
      }

      .attributes {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 32px;
        li {
          color: $gray;
          display: block;
          font-size: 16px;
          line-height: 1;
          margin-bottom: 16px;
          font-weight: $font-light;
          b {
            font-weight: $font-normal;
            color: $gray-dark;

          }
        }
      }

      .actions {
        .stock {
          color: $gray-light;
          margin: 0;
          font-size: 14px;
          line-height: 1;
          font-weight: $font-light;
          margin-bottom: 8px;
        }
        button {
          width: 100%;
          display: block;
        }
      }
    }

  }

}
