<div class="container product-detail--container">
  <div class="row" *ngIf="product">
    <!-- SLIDER -->
    <div class="col-8">

      <div class="swiper-container swiper--container" swiper>
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper--slide" *ngFor="let image of product.images">
            <img [src]="image" class="swiper--img">
          </div>
        </div>
       
        <div class="swiper-pagination"></div>
       
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>

    </div>

    <!-- DETALLES -->
    <div class="col-4">
      <div class="detail--container"> 
        <h2 class="title">{{ product.description }}</h2>

        <div class="price">
          <div class="discount" *ngIf="product.discount > 0">
            <span>{{ product.discount }}</span>
            <product-price [value]="priceDiscount"></product-price>
          </div>

          <product-price [value]="product.price" class="final"></product-price>
        </div>

        <ul class="attributes">
          <li><b>Color: </b> {{ product.color }}</li>
          <li><b>Tipo: </b> {{ product.type }}</li>
          <li><b>Genero: </b> {{ product.gender }}</li>
          <li><b>Codigo: </b> {{ product.cod.substring(4) }}</li>
        </ul>

        <div class="actions">
          <div *ngIf="product.stock; else noAvailables">
            <p>{{ product.stock }} Disponibles</p>
          </div>
          <ng-template #noAvailables>
            <p>Sin stock</p>
          </ng-template>

          <button mat-flat-button large color="primary" [disabled]="!product.stock">Agregar al carrito</button>
        </div>
      </div>
    </div>
  </div>
</div>