@import 'variables';

:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $lighter;

  main {
    flex: 1;
    margin-top: 52px;
  }

  footer {
    color: $white;
    display: block;
    padding: 32px;
    text-align: center;
    background-color: $darker;
  
    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: $font-bold;
      line-height: 1;
      margin-bottom: 8px;
    }
    p {
      margin: 0;
      opacity: .75;
      font-size: 12px;
      font-weight: $font-light;
      line-height: 1;
    }
  }
}