@import "variables";

:host {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 50vh;
    margin: 0 auto;
    display: block;
  }

  h1 {
    color: $dark;
    margin: 32px;
    font-size: 32px;
    text-align: center;
    font-weight: $font-light;
  }

  p {
    
  }
}