<div class="header">
  <img [src]="bgImg">
</div>

<div class="container">
  <div class="row">

    <aside class="col-12 col-md-4 col-lg-3 col-xl-2">
      <div class="filters">
        <h2 class="filters--title">Filtros</h2>

        <h3 class="filters--subtitle">Tipo de lente</h3>
        <div class="filters--section">
          <button
            mat-button color="primary" small block text-left
            [ngClass]="{ active: typeFilter == productTypes.frame }"
            (click)="setTypeFilter(productTypes.frame)"
          >
            Armazones de receta
          </button>
          <button
            mat-button color="primary" small block text-left
            [ngClass]="{ active: typeFilter == productTypes.sun }"
            (click)="setTypeFilter(productTypes.sun)"
          >
            Lentes de Sol
          </button>
          <button
            mat-button color="primary" small block text-left
            [ngClass]="{ active: typeFilter == productTypes.contact }"
            (click)="setTypeFilter(productTypes.contact)"
          >
            Lentes de Contacto
          </button>
        </div>
      </div>
    </aside>

    <div class="col-12 col-md-8 col-lg-9 col-xl-10">
      <ng-container *ngIf="products?.length; else emptyProducts">
          <div class="row">
            <div
              class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 mb-4"
              *ngFor="let product of products; trackBy: trackByFn"
            >
              <product-card [product]="product"></product-card>
            </div>
          </div>
        </ng-container>

        <ng-template #emptyProducts>
          <div class="empty-view">
            <img src="assets/images/empty-search.svg">

            <h2>No se encontro ningun resultado.</h2>

            <p class="text-center m-0">
              <button mat-stroked-button color="primary" (click)="clearFilters()">
                Reiniciar filtros
              </button>
            </p>
          </div>
        </ng-template>
      </div>
  </div>

</div>

<scroll-to-top></scroll-to-top>
