@import "variables";

:host {
  padding: 32px 0;
  display: block;

  .header {
    height: 320px;
    margin: -32px 0 32px;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  
  .home--title {
    color: $dark;
    margin: 0;
    font-size: 32px;
    line-height: 1;
    font-weight: $font-light;
    margin-bottom: 32px;
  }

  .filters {
    top: 96px;
    position: sticky;
    .filters--title {
      color: $gray;
      margin: 0;
      font-size: 18px;
      line-height: 1;
      font-weight: $font-normal;
    }
  }
}