<div
  class="header"
  [bg-image]="bgImg"
></div>

<div class="container">
  <div class="row">
    <aside class="col-3">
      <div class="filters">
        <h2 class="filters--title">Filtros</h2>

        <div class="filters--section">
          <h3>Tipo de lente</h3>
          <button
            mat-button color="primary" large block text-left
            [ngClass]="{ active: typeFilter == productTypes.frame }"
            (click)="setTypeFilter(productTypes.frame)"
          >
            Armazones de receta
          </button>
          <button
            mat-button color="primary" large block text-left
            [ngClass]="{ active: typeFilter == productTypes.sun }"
            (click)="setTypeFilter(productTypes.sun)"
          >
            Lentes de Sol
          </button>
          <button
            mat-button color="primary" large block text-left
            [ngClass]="{ active: typeFilter == productTypes.contact }"
            (click)="setTypeFilter(productTypes.contact)"
          >
            Lentes de Contacto
          </button>
        </div>

      </div>
    </aside>

    <div class="col-9">
      <div class="row">
        <ng-container *ngIf="products?.length; else emptyProducts">
          <div class="col col-4" *ngFor="let product of products; let i = index">
            <product-card [product]="product"></product-card>
          </div>
        </ng-container>

        <ng-template #emptyProducts>
          <h2>Tu busqueda no arrojo ningun resultado</h2>
          <button (click)="clearFilters()">reiniciar filtros</button>
        </ng-template>
      </div>

    </div>

  </div>

</div>
