<div class="container cart--container">

  <h1 class="cart--title">Carrito</h1>

  <div class="cart--products-container" *ngIf="products.length; else emptyState">
    <div *ngIf="!(isLoading$ | async)">

      <ul class="cart--products">
        <li class="cart--product" *ngFor="let p of products">

          <div class="image" [bg-image]="firstImage( p.images )"></div>

          <div class="detail">
            <a [routerLink]="['/', 'producto', p.id]">{{ p.description }}</a>
            <ul class="attributes">
              <li><b>Color:</b> {{ p.color }}</li>
              <li><b>Tipo:</b> {{ p .subtype }}</li>
              <li><b>Sexo:</b> {{ p.gender }}</li>
              <li><b>SKU</b> {{ p.cod?.substring(4) }}</li>
            </ul>

            <div class="actions">
              <button mat-button color="primary" (click)="removeProduct(p.id)">Eliminar</button>
            </div>
          </div> 

          <div class="amount">
            <div class="remove-add">
              <button mat-icon-button color="primary" (click)="decProductAmount(p.id)" [disabled]="p.amount == 1">
                <mat-icon fontSet="material-icons-outlined">remove</mat-icon>
              </button>

              <span>{{ p.amount }}</span>

              <button mat-icon-button color="primary" (click)="incProductAmount(p.id)">
                <mat-icon fontSet="material-icons-outlined">add</mat-icon>
              </button>
            </div>
            <p class="availables">{{ p.stock }} Disponibles</p>
          </div> 

          <div class="price">
            <div class="discount" *ngIf="p.discount > 0">
              <span class="percent">-{{ p.discount }}%</span>
              <product-price [value]="p.price" [lined]="true"></product-price>
            </div>

            <product-price class="total" [value]="finalPrice(p.price, p.discount)"></product-price>
          </div> 

        </li>
      </ul>

      <div class="cart--actions">
        <h2 class="total">
          <span>Total</span>
          <product-price [value]="totalPrice$ | async"></product-price>
        </h2>

        <div class="spacer"></div>

        <button mat-flat-button color="primary" large (click)="buy()">Comprar</button>
      </div>

      <swal
        #successSwal
        title="Tu compra ha sido realizada con exito"
        icon="success"
        confirmButtonColor="#0096d1"
        (confirm)="finishBuy()"
      ></swal>
    </div>
  </div>

  <!-- EMPTY STATE -->
  <ng-template #emptyState>
    <div class="cart--empty">
      <img src="assets/images/empty.svg">
      <h1 class="title">Tu carrito está vacío</h1>

      <p class="text-center m-0">
        <button mat-stroked-button color="primary" routerLink="/">
          Regresar al inicio
        </button>
      </p>
    </div>
  </ng-template>
</div>