<div class="container cart--container">

  <h1 class="cart--title">Carrito</h1>

  <ng-conteiner *ngIf="!(isLoading$ | async)">
    <div class="cart--products-container" *ngIf="products.length; else emptyState">
      <ul class="cart--products">
        <li class="cart--product" *ngFor="let p of products">

          <div class="image">
            <img [src]="firstImage(p.images)">
          </div>

          <div class="detail">
            <a [routerLink]="['/', 'producto', p.id]">{{ p.description }}</a>
            <ul class="attributes">
              <li><b>Color:</b> {{ p.color }}</li>
              <li><b>Tipo:</b> {{ p .subtype }}</li>
              <li><b>Sexo:</b> {{ p.gender }}</li>
              <li><b>SKU</b> {{ p.cod?.substring(4) }}</li>
            </ul>

            <div class="actions">
              <button mat-button color="primary" (click)="removeProduct(p.id)">Eliminar</button>
            </div>
          </div>

          <!-- <div class="d-flex flex-wrap"> -->
            <div class="amount">
              <div class="remove-add">
                <button mat-icon-button color="primary" (click)="decProductAmount(p.id)" [disabled]="p.amount == 1">
                  <mat-icon fontSet="material-icons-outlined">remove</mat-icon>
                </button>

                <span>{{ p.amount }}</span>

                <button
                  mat-icon-button
                  color="primary"
                  [disabled]="p.amount === p.stock"
                  (click)="incProductAmount(p.id)"
                >
                  <mat-icon fontSet="material-icons-outlined">add</mat-icon>
                </button>
              </div>

              <p
                class="availables"
                [ngClass]="{ red: p.amount > p.stock }"
                *ngIf="p.stock; else sinStock"
              >{{ p.stock }} Disponibles</p>
              <ng-template #sinStock>
                <p class="availables red">Sin stock</p>
              </ng-template>

            </div>

            <div class="price">
              <div class="discount" *ngIf="p.discount > 0">
                <span class="percent">-{{ p.discount }}%</span>
                <product-price [value]="p.price" [lined]="true"></product-price>
              </div>

              <product-price class="total" [value]="finalPrice(p.price, p.discount)"></product-price>
            </div>
          <!-- </div> -->

        </li>
      </ul>

      <div class="cart--actions">
        <h2 class="total">
          <span>Total</span>
          <product-price [value]="totalPrice$ | async"></product-price>
        </h2>

        <button
          mat-flat-button
          large
          color="primary"
          [disabled]="!(isInvalid$ | async)"
          (click)="buy()"
        >{{ user ? 'Comprar' : 'Iniciar sesión' }}</button>
      </div>

      <swal
        #successSwal
        title="Su compra ha sido realizada con éxito"
        text="El detalle de la compra ha sido enviado a su correo electrónico."
        icon="success"
        confirmButtonColor="#0096d1"
        (close)="finishBuy()"
      ></swal>
    </div>

    <!-- EMPTY STATE -->
    <ng-template #emptyState>
      <div class="cart--empty">
        <img src="assets/images/empty-cart.svg">
        <h1 class="title">Tu carrito está vacío</h1>

        <p class="text-center m-0">
          <button mat-stroked-button color="primary" routerLink="/">
            Regresar al inicio
          </button>
        </p>
      </div>
    </ng-template>
  </ng-conteiner>
</div>
