// COLORS
$white: #fff;

$light: #eaeaea;
$lighter: #f0f0f0;
$lightest: #fafafa;

$gray: #757575;
$gray-light: #999999;
$gray-dark: #666666;

$dark: #324047;
$darker: #2D2D44;
$darkest: #1E1E2C;

$accent: #1de9b6;
$accent-light: #6effe8;
$accent-dark: #00b686;

// FONT SIZES

$font-light: 300;
$font-normal: 400;
$font-bold: 700;