// COLORS
$white: #fff;

$light: #eaeaea;
$lighter: #f0f0f0;
$lightest: #fafafa;

$dark: #324047;
$darker: #2D2D44;
$darkest: #1E1E2C;

// FONT SIZES

$font-light: 300;
$font-normal: 500;
$font-bold: 700;