<nav class="navbar container">

  <a [routerLink]="urls.home" class="navbar-brand">
    <img class="navbar-brand--logo" src="assets/icon.png">

    <span class="navbar-brand--text">Óptica Mérida</span>
  </a>

  <span class="navbar-spacer"></span>

  <button
    mat-icon-button
    class="navbar-cart"
    matTooltip="Mi carrito de compras"
    [routerLink]="urls.cart" 
  >
    <mat-icon
      fontSet="material-icons-outlined"
      [matBadge]="products$ | async" 
      [matBadgeHidden]="!(products$ | async)" 
    >shopping_cart</mat-icon>
  </button>
</nav>

<mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>