<nav class="navbar container">

  <a [routerLink]="urls.home" class="navbar-brand">
    <img class="navbar-brand--logo" src="assets/icon.png">

    <span class="navbar-brand--text">Óptica Mérida</span>
  </a>

  <span class="navbar-spacer"></span>

  <!-- USER ACTION -->
  <div *ngIf="user$ | async as user" >
    <div class="navbar-user" [matMenuTriggerFor]="menu" matRipple >
      <div class="navbar-user--img" [bg-image]="user.photoURL"></div>
      <h3 class="navbar-user--name">{{ user.displayName }}</h3>
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="singOut()">Cerrar sesión</button>
    </mat-menu>
  </div>
  <!-- USER ACTION -->

  <button
    mat-icon-button
    class="navbar-cart"
    matTooltip="Carrito de compras"
    [routerLink]="urls.cart" 
  >
    <mat-icon
      fontSet="material-icons-outlined"
      [matBadge]="products$ | async" 
      [matBadgeHidden]="!(products$ | async)" 
    >shopping_cart</mat-icon>
  </button>
</nav>

<mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>