@import "variables";

:host {
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  z-index: 999;
  display: block;
  position: fixed;
  
  box-shadow: 0 3px 5px -1px rgba(black, .2),
              0 6px 10px 0 rgba(black, .14),
              0 1px 18px 0 rgba(black, .12);
  background-color: #0096d1;

  .navbar {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    &:hover {
      .navbar-brand--text {
        opacity: 1;
        transform: translate3d(8px, 0, 0);
      }
    }
    .navbar-brand--logo {
      height: 48px; 
      display: inline-block;
      margin-right: 8px;
      transform: scale3d(1, 1, 1);
      transition: all .15s ease-in-out;
    }
    .navbar-brand--text {
      color: $white;
      opacity: .8;
      display: inline-block;
      font-size: 24px;
      transform: translate3d(0, 0, 0);
      transition: all .15s ease-in-out;
      line-height: 1;
      font-weight: $font-normal;
    }
  }

  .navbar-spacer {
    flex: 1 1 auto;
    height: 100%;
    display: block;
  }

  .navbar-cart {
    color: white;
    ::ng-deep .mat-badge-content {
      background-color: $dark;
      font-weight: $font-normal;
    }
  }
}